name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        nim: [stable, 2.0.14]
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: ${{matrix.nim}}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: nimble install -y
    - name: Test
      run: nimble test -y
